.search-bar{
    background-color:#1e1e1e;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;   
}

body{
    background-color: #1e1e1e;
}
.Days{
    color: white;
    padding-left: 10px;
    
}
.contacts{
    color: white;
    
}

.container{
    color: white;
}

.image{
    margin-left: 25px;
}

h3{
    margin-right: 90px;
}

.call-image{
    margin-right: ;
}

h6{
    color: grey;
}

.footer-text{
    color: #9ca0a6;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}


.rect{
    fill: #2a2b2f;
}

